[Desktop Entry]
Name=VSEdit
Comment=create and modify VapourSynth scripts
Comment[hr]=Stvorite i uredite VapourSynth skripte
GenericName=VapourSynth Editor
GenericName[hr]=VapourSynth uređivač
Exec=vsedit %u
Terminal=false
Type=Application
Icon=vsedit
Categories=Qt;Utility;TextEditor;
StartupNotify=true
